/*
    Structural stuff needed to make ink work
    This SHOULD be generic to all apps using ink-react
    (of course it's probably not right now)
*/

.outerContainer {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    flex: 1.2;
    max-width: 800px;
}

.container {
    display: block;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
}

strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    /* max-width: 100%; */
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
    line-height: 1.7em;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em; 
}

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark .end {
    color: white;
}
