/* This default is what  works OK in itch */
:root {
    --unit: 36vh;
    --half-unit: calc(var(--unit) / 2);
}

#react-root .menu {
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
}

#react-root .menu > div.ork {
    position: absolute;
    display: flex;
    border: solid 1px transparent;
    height: var(--unit);
}

#react-root .menu > div.ork.dead .img-wrapper {
    opacity: 0.8;
    filter: grayscale(30%) hue-rotate(-219deg)
}

#react-root .menu > div.ork .img-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}

#react-root .menu > div.ork:nth-child(1) {
    top: calc(var(--unit) * 1.3);
    left: calc(50vw - calc(var(--unit) * 1));
    z-index: 4;
}
#react-root .menu > div.ork:nth-child(2) {
    top: calc(var(--unit) * 0.6);    
    left: calc(50vw - calc(var(--unit) * 1.2));
    z-index: 3;
}
#react-root .menu > div.ork:nth-child(3) {
    top: 0;
    left: calc(50vw - var(--half-unit));
}
#react-root .menu > div.ork:nth-child(4) {
    top: calc(var(--unit) * 0.7);
    left: calc(50vw + calc(var(--unit) * 0.2));
    z-index: 3;
}
#react-root .menu > div.ork:nth-child(5) {
    top: calc(var(--unit) * 1.4);
    left: calc(50vw + calc(var(--unit) * 0.1));
    z-index: 4;
}

#react-root .menu > .skullkrusha img {
    transform: scale(1.2)
}

#react-root .menu > .ork.animate:hover {
    z-index: 10;
}

.menu .ork .img-wrapper :not(#react-root.hover-active *) {
    filter: brightness(80%);
}

.menu .ork .img-wrapper:hover :not(#react-root.hover-active *) {
    filter: brightness(100%);
}

.menu .ork.grow .img-wrapper {
    filter: saturate(140%);
    transform: scale(1.05) rotate(1deg) !important;
    transition: transform 90ms !important;
}

.menu .ork.shrink .img-wrapper {
    transition: transform 90ms !important;
}

.menu-ork-enter,
.menu-ork-appear {
    opacity: 0;
    transform: scale(0.1, 0.6);
}

.menu-ork-appear-active,
.menu-ork-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
}

.menu-ork-exit {
    opacity: 1;
}

.menu-ork-exit-active {
    opacity: 0;
    transform: scale(0.1, 0.6);
    transition: opacity 500ms, transform 500ms;
}

.menu-ork-selected-exit {
    transition: transform 500ms;
}

.menu-ork-selected-exit-active {
    opacity: 0;
    transform: scale(1.5);
    transition: opacity 300ms, transform 500ms;
}

.menu-ork-selected-done-active,
.menu-ork-exit-done,
.menu-ork-selected-exit-done {
    visibility: hidden;
}


/* Move the selected ork into the center */
#react-root .ork.selected {
    transition: top 0.6s, left 0.6s;
    top: calc(50vh - (var(--unit) / 1.1)) !important; 
    left: calc(50vw - (var(--unit) / 2)) !important;
    z-index: 100 !important;
}

#react-root .ork > .img-wrapper img {
    width: var(--unit);
    filter: brightness(90%) saturate(90%);
    transition: filter 0.6s, transform 0.6s;
}

#react-root.hover-active .ork:not(.selected) > .img-wrapper img {
    filter: brightness(50%) saturate(80%);
}

#react-root .ork img.disabled,
#react-root .ork img.disabled:hover {
    cursor: default;
    filter: brightness(0.12) !important;
}

#react-root .ork.animate img.focus,
#react-root .ork img.selected {
    filter: none;
}

#react-root .ork.selected img.focus,
#react-root .ork.selected img {
    transform: scale(1.7)
}


.tooltip {
    position: absolute;

    bottom: -220px;
    left: -10vw;
    right: -10vw;

    background-color: var(--background-color);
    border: solid 1px var(--overlay-color);
    
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.tooltip.disabled .field {
    color: rgb(194, 37, 37) !important;
}

.tooltip .field.name {
    padding-top: 10px;
    color: var(--overlay-color2);
    font-family: 'Carter One', Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    margin-top: -68px;
}

.tooltip .field.role {
    color: var(--overlay-color3);
    font-size: 24px;
    margin-top: -20px;
}

.tooltip .field {
    color: var(--overlay-color3);
    margin-bottom: 12px;
    font-size: 20px;
}

.tooltip .field > ul {
    color: var(--overlay-color3);
}

.tooltip .field > ul li {
    list-style: none;
}

.tooltip .field.icon {
    position: absolute;
    top: -20px;
    right: -35px;
    height: 60px;
    width: 60px;
    color: white;
}

.tooltip.profile-right .field.icon {
    float: left;
    margin-left: -4px;
    margin-right: 8px;
}

.tooltip .field.icon.heart {
    background-image: url('/img/ui/heart.png')
}

.tooltip .field.icon.heart-broken {
    background-image: url('/img/ui/heart-broken.png')
}

.tooltip .field.icon.skull {
    background-image: url('/img/ui/skull.png')
}

.tooltip .panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -26px;
}

.tooltip .panel .button {
    cursor: pointer;
    font-size: 30px;
    background-color: var(--background-color2);
    padding: 8px 16px;
    text-transform: uppercase;
    border: solid 1px var(--overlay-color);
    width: 140px;
    height: 40px;
    font-family: 'Carter One', Georgia, 'Times New Roman', Times, serif;
}

.tooltip .panel .button.primary {
    color: var(--overlay-color2);
    float: right;    
    margin-right: 20px;
}

.tooltip .panel .button.secondary {
    float: left;
    margin-left: 20px;
}

.tooltip img.title-text {
    height: 100px;
    transform: scale(1) !important;
    margin-bottom: 40px;
}