.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    padding: 8px 30px;

    color: var(--text-color-old);
    background-color: var(--background-color);
    font-size: 12px;
    
    border-top: solid 1px var(--overlay-color);
    cursor: default;
}

.footer .col {
    flex: 1;
}

.footer .col + .col {
    text-align: right;
}

.footer .col > span {
    margin-right: 16px;
}

.footer .button {
    color: var(--overlay-color);
    text-transform: uppercase;
    cursor: pointer;
}