.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.modal.hide {
    display: none;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1050px;
    height: 80vh;

    background-color: var(--background-color);
    border: solid 1px var(--overlay-color);

    overflow: visible;
}

.modal-content {
    flex: 1;
    padding: 10px 30px;
    overflow-y: auto;
}

.modal-footer {
    padding: 10px 0;
    text-align: center;
    color: var(--overlay-color);
    margin-bottom: -20px;
}

.modal-footer span {
    cursor: pointer;
    background-color: var(--background-color);
    padding: 10px 18px;

    border-radius: 6px;
    border-left: solid 1px var(--overlay-color);
    border-right: solid 1px var(--overlay-color);
}

.modal-inner-appear,
.modal-inner-enter {
    transform: translateX(-100vw);
}

.modal-inner-appear-active,
.modal-inner-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.modal-inner-appear-done,
.modal-inner-enter-done {
    transform: translateX(0);
}

.modal-inner-exit-active,
.modal-inner-leave-active {
    transform: translateX(100vw);
    transition: transform 300ms;
}

.modal-inner-exit-done,
.modal-inner-leave-done {
    transform: translateX(100vw);
}