.credits-wrapper {
    text-align: center;
    padding: 0px 40px;
}

.credits-wrapper p {
    text-align: left;
}

.credits-wrapper h3 {
    margin-top: 30px;
}

.credit {
    margin: 26px 0;
}

.credit:last-child {
    margin-bottom: 0;
}

.credit-role {
    color: var(--text-color-old);
    font-size: 90%;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.credit-name {
    font-size: 180%;
}


.credit-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.credit-list.beta {
    max-width: 500px;
}

.credit-list span {
    white-space: nowrap;
    padding: 12px 6px 0 6px;
    width: 160px;
}

.credit-list.beta span {
    width: 160px;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;

    margin-bottom: -4px;
    margin-left: 16px;

    background-size: cover;
    cursor: pointer;
}

.icon.twitter {
    background-image: url('../../../img/ui/twitter-plain.png');
}

.icon.instagram {
    background-image: url('../../../img/ui/instagram-plain.png');
}

.icon.web {
    background-image: url('../../../img/ui/web-plain.png');
}