.death-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #3d3d3d;
}

.death-wrapper.fade-out {
    transition: background-color, 2.4s;
    background-color: rgb(255, 255, 255, 0.8);
}

.death-wrapper .container {
    margin-top: 20vh;
}

.death-wrapper .container p {
    color: #fff;
    text-align: center;
}

.death-wrapper .choice a {
    color: #fff;
}