.container.intro {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    padding: 0;
    padding-bottom: 20px;

    background-color: var(--overlay-bg);
    border-top: solid 1px var(--overlay-color);
    border-bottom: solid 1px var(--overlay-color);

    text-align: center;
}

.container.intro p {
    max-width: 600px;
    margin: 20px auto;
    color: var(--text-color-new);
}

#title-img {
    height: 160px;
}

.header {
    padding-top: 3em;
    padding-bottom: 1em;
}

.header h2 {
    color: var(--text-color-new);
}