.item-list  {
    display: flex;
    justify-content: center;
    align-content: left;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item-list .item {
    width: 45%;
    margin-left: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.item-list .item img {
    float: left;
    width: 64px;
    height: 64px;
    border: solid 2px white;
    margin-right: 12px;
}

.item-list .item .name {
    margin-bottom: 9px;
    font-weight: bold;
}

.item-list .item .description {
    color: var(--text-color-old)
}