.container.outro {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 800px;
    max-height: 80vh;
    margin-top: 10vh;
    padding: 1vh 4vw;
    background-color: rgba(38, 26, 22, 0.9);
    border: solid 2px var(--overlay-color);
    border-radius: 4px;
    overflow: auto;
}

.container.outro.page2 {
    margin-top: 10vh;
}

.container.outro p,
.container.outro h2 {
    color: var(--text-color-new);
    text-align: center;
}

.container.outro p.choice {
    margin-bottom: 6px;
}

.outro-img {
    /*    Think about how we want to preserve aspect ratio here */
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}