/* TODO can't get alignment right here */
.trophy-list .trophy-group > div {
    display: flex;
    justify-content: center;
    align-content: left;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.trophy-list .trophy {
    min-width: 266px;
    width: 45%;
    margin-bottom: 16px;
    padding: 8px;
}

.Toastify__toast-container {
    width: 400px !important;
}

.Toastify__toast--default {
    background-color: var(--background-color) !important;
    margin-bottom: 2rem;
    padding: 0 !important;
}

.Toastify__toast-body {
    background-color: var(--background-color2);
    border: solid 1px var(--overlay-color) !important;
    padding: 8px;

}

.Toastify__toast-container h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.trophy img {
    float: left;
    width: 64px;
    height: 64px;
    border: solid 2px white;
    margin-right: 12px;
}

.trophy.locked img {
    filter: brightness(0.3);
}

.trophy .title {
    margin-bottom: 9px;
    font-weight: bold;
}

.trophy.locked .title {
    color: var(--text-color-old)
}

.trophy .description {
    color: var(--text-color-old)
}