@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

:root {
    --background-color: #261a16;
    --background-color2: #332222;
    
    --overlay-color: rgba(148, 253, 138, 0.6);
    --overlay-color2: rgb(148, 253, 138);
    --overlay-color3: rgb(48, 156, 38);
    --overlay-color4: rgb(35, 116, 27);
    --overlay-bg: #330606b8;

    --scrollbar-main: #5b1304;
    --scrollbar-background: #2d221e;

    --choice-color: var(--overlay-color2);
    --choice-color-highlight: white;

    --title-color: var(--overlay-color3);
    --text-color-old: #a7a4a4;
    --text-color-new: lightgrey;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: lighter;
    background: var(--background-color2);
    background: linear-gradient(127deg, rgb(61, 40, 32) 0%, var(--background-color2) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}


h1, h2 {
    color: var(--title-color);
    text-align: center;
    font-family: 'Carter One', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 18pt;
    opacity: 0.7;
    font-weight: lighter;
}

/* https://www.digitalocean.com/community/tutorials/css-scrollbars */
/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-main) var(--scrollbar-background);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-main);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-background);
}

#react-root {
    color: white;
    height: 100vh;
    background-image: url('../img/endings/background.jpg');
    background-size: cover;
    user-select: none;
}

.ink-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 1650px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.ink-wrapper .outerContainer {
    background-color: var(--background-color);
    margin-bottom: 32px;
    visibility: hidden;
    user-select: text;
}

.ink-react-enter-active,
.ink-react-appear-active,
.ink-react-exit-active,
.ink-react-leave-active,
.ink-img-enter-active,
.ink-img-appear-active,
.ink-img-exit-active,
.ink-img-leave-active {
    transition: transform 300ms;
}

.ink-react-enter,
.ink-react-appear,
.ink-react-exit-active,
.ink-react-leave-active,
.ink-react-leave-done,
.ink-react-exit-done {
    visibility: visible !important;
    transform: translateY(-100vh);
}

.ink-img-enter,
.ink-img-appear,
.ink-img-exit-active,
.ink-img-leave-active,
.ink-img-leave-done,
.ink-img-exit-done {
    visibility: visible !important;
    transform: translateY(100vh);
}

.ink-react-enter-active,
.ink-react-appear-active,
.ink-react-enter-done,
.ink-react-appear-done,
.ink-img-enter-active,
.ink-img-appear-active,
.ink-img-enter-done,
.ink-img-appear-done {
    visibility: visible !important;
    transform: translateY(0);
}

/* TODO think more about the transition in/out */
.ink-wrapper.hide {
    display: none;
}

.ink-wrapper .container.ink {
    margin: 0;
    padding: 60px;
    padding-left: 68px;
}

.ink-wrapper .main-img {
    flex: 1;
    display: flex;
    align-items: center;
    visibility: hidden;

    /* background: linear-gradient(127deg, rgb(61, 40, 32) 0%, var(--background-color2) 100%); */
    background-image: url('../img/endings/bg-1.png');
    background-size: cover;
}

.ink-wrapper .main-img .img-border {
    height: 100vh;
    width: 32px;
    background-image: url('../img/ui/border-right.png');
    background-position-y: -16px;
    background-repeat: repeat-y;
}

.ink-wrapper .main-img img {
    max-width: 100%;
}

.ink-wrapper .main-img.dead img {
    opacity: 0.8;
    filter: grayscale(30%) hue-rotate(-219deg)
}

.ink-wrapper hr {
    width: 40%;
    border: solid #504003 1px;
}

p {
    font-size: 13pt;
    color: var(--text-color-old);
    line-height: 1.7em;
    font-weight: lighter;
}

.ink-wrapper p.new {
    color: var(--text-color-new);
}


a {
    font-weight: 700;
    color: var(--choice-color);
    transition: color 0.6s;
    text-decoration: none;
    cursor: pointer;
}


a:hover {
    color: var(--choice-color-highlight);
    transition: color 0.1s;
}

.trophy-icon {
    display: inline-block;
    width: 32px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 2px transparent;
    padding: 2px;
    vertical-align: middle;
    opacity: 0.8 !important;
}

/* A trophy icon should have a -32px border to offset its width... */
.choice > .trophy-icon {
    margin-left: -32px;
}

/* ... unless there are two of them, when the last should be dragged to the right */
.trophy-icon  + a  +.trophy-icon {
    margin-right: -32px;
}

.trophy-wrapper .trophy-icon.item {
    margin-left: 0;
}

.trophy-wrapper .trophy-icon.hide {
    opacity: 0 !important;
}

.trophy-icon.item {
    margin-left: 24px;
}

.trophy-icon + a {
    margin-left: 10px;
}

.trophy-icon:hover {
    border-color: #5a3434;
    opacity: 1;
}

.trophy-wrapper {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: -58px;
    padding-top: 14px;
}